*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1, h2{
    color: #444;
}

.btn{
    background: #2b3136;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover{
    color: #2b3136;
    background: white;
    padding: 3px 8-x;
    border: 2px solid #2b3136;
}

.side-menu{
    position: fixed;
    background: #1E2833;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li{
    font-size: 20px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover{
    background: white;
    color: #1E2833;
}

.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header{
    position: fixed;
    top:0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button{
    width: 60px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header .nav .product{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7); 
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-button{
    background: #2b3136;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 7px;
}

.modal-button:hover{
    color: #2b3136;
    background: white;
    padding: 3px 8-x;
    border: 2px solid #2b3136;
}

.bg-modal input{
    width: 50%;
    display: block;
    margin: 25px auto;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size:42px;
    transform: rotate(45deg);
    cursor: pointer;
}

#product-input{
    display: flex;
    border: 1px solid;
}
#product-input div{
    border: 1px solid;
    padding: 10px;
}


@media screen and (max-width: 1050px){
    .side-menu li{
        font-size: 18px;
    }
}

@media screen and (max-width: 940px){
    .side-menu li span{
        display: none;
    }
    .side-menu{
        align-items: center;
    }
}

